.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.input {
  text-align: center;
  flex-grow: 1;
  outline: none !important;
  border: 2px solid #e1f0fd !important;
  border-radius: 0px !important;
  font-family: 'Open Sans' !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 16px 60px 16px 60px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: right;
  width: 100%;
}

.button {
  font-family: 'Montserrat' !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  padding: 16px 60px 16px 60px;
  background: #7d83ac;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: #288850;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.resultContainer {
  background-color: #e9ffd9;
  padding: 10px 32px 20px 32px;
  border-radius: 16px;
}

.invalidResultContainer {
  color: #f10108;
  background-color: #ffe4e5;
  padding: 10px 32px 20px 32px;
  border-radius: 16px;
}

.detail {
  margin-bottom: 10px;
}
